{% for category in site_categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
{% assign category_size = category[1].size %}
<div class="bg-white overflow-hidden sm:rounded-lg sm:shadow mb-8">
  <div class="bg-white p-4 border-b border-gray-200 sm:px-6">
    <div class="flex items-center justify-between flex-wrap sm:flex-no-wrap">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        {{ category_name }}
      </h3>
      <div class="flex-shrink-0">
        <span
          class="inline-flex items-center px-2 py-1 rounded-md text-sm font-medium leading-5 bg-emerald-200 text-emerald-800">
          {{ category_size }}
        </span>
      </div>
    </div>
  </div>

  {% assign pages_list = category[1] | sort: "date" | reverse %}
  {% include page-list.html %}
</div>
{% endfor %}
{% assign site_categories = nil %}
