<div class="py-20 relative bg-gray-50">
  <div class="relative max-w-xl lg:max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-xl md:text-2xl font-medium text-emerald-700">
      {{ site.featured_title }}
    </h2>
    <p class="text-3xl leading-tight uppercase text-gray-800 font-extrabold mt-2">
      {{ site.featured_content }}
    </p>
    <ul class="mt-12 grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
      {%- for featured in featured_items limit: 3 -%}
      {%- include featured-item.html -%}
      {%- endfor -%}
      {%- assign featured_items = nil -%}
    </ul>
  </div>
</div>
