<li class="col-span-1 shadow-sm rounded-md bg-white border border-gray-200">
  <div class="px-4 py-2 text-sm leading-5 truncate">
    <div class="flex items-center">
      {%- if project.status == 1 -%}
      <span class="inline-block h-2 w-2 bg-emerald-500 rounded-full mr-2"></span>
      {%- else -%}
      <span class="inline-block h-2 w-2 bg-red-500 rounded-full mr-2"></span>
      {%- endif -%}
      <a href="{{ project.url }}" target="_blank" class="text-gray-900 font-medium transition ease-in-out duration-150">
        {{ project.title }}
      </a>
    </div>
    <p class="text-gray-600">{{ project.client }}</p>
  </div>
</li>
