<div class="bg-white pt-16 pb-20 lg:pt-24 lg:pb-28">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative divide-y-2 divide-gray-200">
    <div>
      <h2 class="text-xl md:text-2xl font-medium text-emerald-700">
        {{ site.recent_posts_title }}
      </h2>
      {%- if site.recent_posts_content -%}
      <p class="text-3xl leading-tight uppercase text-gray-800 font-extrabold mt-2">
        {{ site.recent_posts_content }}
      </p>
      {%- endif -%}
    </div>
    <div class="mt-12 grid gap-16 pt-12 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
      {%- for post in recent_posts limit: 3 -%}
      {%- include post-item.html -%}
      {%- endfor -%}
      {%- assign recent_posts = nil -%}
    </div>
  </div>
</div>
