<div class="sidebar sidebar-homepage">
    <div class="sidebar-wrap">
        <div class="label">Categories</div>
        <a href="/" aria-current="page" class="category-block all-products w-inline-block w--current">
            <div class="color-icon add-tool-icon">
                <img src="" alt="All Tools Icon">
            </div>
            <div class="category-text">All Tools</div>
        </a>
        <div class="collection-list-wrapper w-dyn-list">
            <div class="collection-list w-dyn-items">
                {%- include category-item.html -%}
            </div>
        </div>
        <a href="https://memberspace.typeform.com/" target="_blank" class="category-block add-more w-inline-block">
            <div class="color-icon add-tool-icon">
                <img src="" alt="" class="arrow">
            </div>
            <div class="category-text">Suggest a Product</div>
        </a>
    </div>
</div>