{%- for tag in site_tags -%}
{%- capture tag_name -%}{{ tag | first }}{%- endcapture -%}
{%- capture tag_size -%}{{ tag[1].size }}{%- endcapture -%}
<div class="bg-white overflow-hidden sm:rounded-lg sm:shadow mb-8">
  <div class="bg-white p-4 border-b border-gray-200 sm:px-6">
    <div class="flex items-center justify-between flex-wrap sm:flex-no-wrap">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        {{ tag_name }}
      </h3>
      <div class="flex-shrink-0">
        <span
          class="inline-flex items-center px-2 py-1 rounded-md text-sm font-medium leading-5 bg-emerald-200 text-emerald-800">
          {{ tag_size }}
        </span>
      </div>
    </div>
  </div>
  <ul>
    {%- assign pages_list = tag[1] | sort: "date" | reverse -%}
    {%- for node in pages_list -%}
    {%- if node.title != null -%}
    {%- if group == null or group == node.group -%}
    <li class="border-t border-gray-200">
      <a href="{{ node.url }}"
        class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
        <div class="px-4 py-4 sm:px-6">
          <div class="flex items-center justify-between">
            <div class="text-sm leading-5 font-medium text-emerald-600 truncate">
              {{ node.title }}
            </div>
            <div class="ml-2 flex-shrink-0 flex">
              <span
                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-emerald-100 text-emerald-800">
                {{ tag[0] }}
              </span>
            </div>
          </div>
          <div class="mt-2 sm:flex sm:justify-between">
            {%- assign node_date = node.date -%}
            {%- include date-item.html -%}
            <div class="mt-2 sm:mt-0 sm:flex space-x-2">
              {%- assign node_categories = node.categories | sort -%}
              {%- for category in node_categories -%}
              {%- include category-item.html -%}
              {%- endfor -%}
              {%- assign node_categories = nil -%}
            </div>
          </div>
        </div>
      </a>
    </li>
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
    {%- assign pages_list = nil -%}
  </ul>
</div>
{%- endfor -%}
{%- assign site_tags = nil -%}
